.containerMenu {
  width: 100%;
  padding: 5px;
  height: 48px;

  display: flex;
  justify-content: space-between;

  background: #fff;
}

.containerMenu h1 {
  font-size: 32px;
  font-weight: bold;
  color: #8f4219;
}

.logoMenu {
  font-size: 32px;
}
.contentLeft {
  display: flex;
  gap: 20px;
}
.contentLeft ul {
  display: flex;
  gap: 10px;
  font-size: 18px;
  align-items: center;
  height: 32px;
}
.contentRight {
  display: flex;
  gap: 20px;
}

.containerChairs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.chair {
  display: flex;
  flex-direction: column;

  padding: 18px;
  border-radius: 14px;
  background: #fff;
  width: 150px;
}

.chairHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
