.containerChairs {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  margin-top: 40px;
}
.chair {
  display: flex;
  flex-direction: column;

  padding: 18px;
  border-radius: 14px;
  background: #fff;
  width: 150px;
}

.chairHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
